$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1000px;

$font-regular: "Roboto", "Arial", sans-serif;
$font-pixel: "PIXY", system-ui;

$color-light: #b5e916;
$color-dark: #033932;
$color-text: #181818;